
.Header{
  padding: 0 25px;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.Header nav{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10 px;

}

.Header nav a{
  color: black;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}

#user{
  text-align: center;
}
